# Ignore all
#*

# not ignore all with extensions
#!*.*

# not ignore all dirs
#!*/

.vscode
__pycache__/
__init__.py
venv
build
dist
myFiles.egg-info
.idea
*.sqlite
ui_*.py
test_*.py
*_rc.py
call_chain.py
# setup.pcl used to pickle settings
*.pcl
*.md
