# Ignore all
*

# not ignore all with extensions
!*.*

# not ignore all dirs
!*/

__pycache__/
venv
build
dist
myFiles.egg-info
.idea
*.sqlite
ui_*.py
test*.py
*_rc.py
# setup.pcl used to pickle settings
*.pcl